#!/usr/bin/env bash

# Migrate database on target system by running hook script

set -e

# Config vars
DEPLOY_DIR="<%= deploy_dir %>"
RUNTIME_DIR="<%= runtime_dir %>"
APP_NAME="<%= app_name %>"

CURRENT_DIR="${DEPLOY_DIR}/current"
cd "$CURRENT_DIR" || exit 1

RUNTIME_ENVIRONMENT_FILE="${RUNTIME_DIR}/runtime-environment"
if [ -f "$RUNTIME_ENVIRONMENT_FILE" ]; then
    source "$RUNTIME_ENVIRONMENT_FILE"
fi

$CURRENT_DIR/bin/$APP_NAME migrate
