#!/usr/bin/env bash

# Migrate database on target system

set -e

# Config vars
CURRENT_DIR="<%= current_dir %>"
RUNTIME_DIR="<%= runtime_dir %>"
APP_NAME="<%= app_name %>"

cd "$CURRENT_DIR" || exit 1

NETWORK_ENVIRONMENT_FILE="${RUNTIME_DIR}/network-environment"
if [ -f "$NETWORK_ENVIRONMENT_FILE" ]; then
    source "$NETWORK_ENVIRONMENT_FILE"
fi

$CURRENT_DIR/bin/$APP_NAME migrate
