#!/usr/bin/env bash

# Create a log config file for DataDog agent;
# Create log paths, with permissions

set -e

export LANG="<%= env_lang %>"

# Environment vars
# DESTDIR, prefix for target files, optional

# Config vars
LOG_DIR="/var/log/<%= service_name %>"
DEPLOY_USER="${DEPLOY_USER:-<%= deploy_user %>}"
APP_GROUP="${APP_USER:-<%= app_group %>}"

echo "==> Creating log dir ${LOG_DIR}"
mkdir -p "$LOG_DIR"
chmod -R 664 "$LOG_DIR"
chown -R $DEPLOY_USER:$APP_GROUP "$LOG_DIR"

