#!/usr/bin/env bash

# Delete files on target in preparation for install
# Used in CodeDeploy for BeforeInstall

set -e

export LANG="<%= env_lang %>"

# Environment vars
# DESTDIR, prefix for target files, optional

# Config vars
DEPLOY_DIR="<%= deploy_dir %>"
SERVICE_NAME="<%= service_name %>"

rm -rf "${DESTDIR}${DEPLOY_DIR}"

rm -f $DESTDIR/lib/systemd/system/${SERVICE_NAME}*
