#!/usr/bin/env bash

# Sync config files from S3 bucket to app config dir

set -e

export LANG="<%= env_lang %>"
CONFIG_DIR="<%= configuration_dir %>"

# Env vars
# CONFIG_S3_BUCKET: bucket name
# CONFIG_S3_PREFIX: optional path in prefix

aws s3 sync "s3://${CONFIG_S3_BUCKET}/${CONFIG_S3_PREFIX}" "${CONFIG_DIR}/"
