#!/usr/bin/env bash

# Migrate database on target system

set -e

cd <%= current_dir %> || exit 1

NETWORK_ENVIRONMENT_FILE=<%= runtime_dir %>/network-environment
if [ -f $NETWORK_ENVIRONMENT_FILE ]; then
    source $NETWORK_ENVIRONMENT_FILE
fi

<%= current_dir %>/bin/<%= app_name %> migrate

exit $?
